<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springCommunity.mapper.MyDepartmentMapper">

<!-- 로그인 한 회원의 아이디 조회  -->
<select id="selectUser" parameterType="String" resultType="UserInfoVO">
select * from USER 
WHERE USER_ID =#{user_id}
</select>




 <!-- 
	    부서별 일정 조회
	    - 일정 작성자의 부서와 조회자의 부서가 일치하는지 확인  
	    - INNER JOIN으로 사용자 테이블과 연결하여 부서 정보 검증 (이중 검증을 할 수 있음) 
	    - 시작 날짜 기준 오름차순 정렬
	    1. 고길동, 홍길동 존재시 
-->
    
<select id="selectSchedulesByDepartment" parameterType="int" resultType= "scheduleVO">
   <!-- SELECT s.*, u.DEPARTMENT_ID as user_department_id
        FROM SCHEDULE s
        INNER JOIN USER u ON s.USER_ID = u.USER_ID
        WHERE s.DEPARTMENT_ID = #{department_id}
        AND u.DEPARTMENT_ID = #{department_id}
        ORDER BY s.SCHEDULE_START_DATE ASC -->
        SELECT s.*
	    FROM SCHEDULE s
	    INNER JOIN USER u ON s.USER_ID = u.USER_ID
	    WHERE u.DEPARTMENT_ID = #{department_id}
	    ORDER BY s.SCHEDULE_START_DATE ASC
</select>


<insert id="insert" parameterType="scheduleVO">
insert into SCHEDULE (
		SCHEDULE_NAME, 
		SCHEDULE_START_DATE, 
		SCHEDULE_END_DATE, 
		DEPARTMENT_ID)
VALUES(
		#{schedule_name}, 
		#{schedule_start_date}, 
		#{schedule_end_date}, 
		#{department_id}
	   )
</insert>

</mapper>